{{#each products}}
    <article class="flex flex-col h-full justify-end border border-primary-gray">
        <div class="p-3.5">
            <figure>
                <img class="mx-auto mb-3" src="{{img}}" alt="{{name}}">
            </figure>
            <p class="font-bold text-sm">{{name}}</p>
            <p class="text-tiny mt-1.5 text-gray-600 font-normal">{{description}}</p>
        </div>
        <div class="flex flex-col h-full justify-end">
            <p class="my-3 font-semibold text-price tracking-wider px-3.5">${{price}}</p>
            <button class="block mx-auto w-full uppercase font-semibold text-primary-blue bg-primary-lightgray text-sizeLetter border border-primary-gray px-3.5 h-btnAdd">Agregar</button>
        </div>
    </article>
{{/each}}
