<!--Nombre {{products.[0].name}}-->

{{#each products}}
    <article>
        <div class="border border-primary-gray p-3.5 w-beerCard h-beerCard">
            <figure>
                <img class="mx-auto w-beerImg h-beerImg mb-3" src="{{img}}" alt="Foto">
            </figure>
            <p class="font-black text-sm">{{name}}</p>
            <p class="text-tiny mt-1.5 text-gray-600">{{description}}</p>
            <p class="my-3 font-bold text-price tracking-wider">${{price}}</p>
        </div>
        <div>
            <p class="flex justify-center items-center uppercase font-bold text-primary-blue bg-primary-lightgray text-sizeLetter border border-primary-gray px-3.5 mb-container h-btnAdd">Agregar</p>
        </div>
    </article>
{{/each}}
